.friendsListCard{
    padding: 0;
    margin: 0;
}
.friendsListCard img{
    border-radius: 2px;
    width: 100%;
    margin: 4px;
}


.friendsListCard .friendName{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
}
.friendsListCard .friendTime{
    color: #cccccc;
}

#startPrayer{
    background: #69a2b2;
    border: 0;
}
#enterChat{
    background: #69a2b2;
    border: 0;
}
