body{
    background: #eee;
    /*background: #e0d4c0;*/
    color: #333333;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 16px;
    padding: 5px;
}
a{
    color: #303030;
}
.answeredBorder{
    border: 10px #BCB0AC solid;
}
.answeredBG{
    font-size: 0.8em;
    background: #e2d8d5;
    padding: 10px;
    margin: 10px;
}

.floatRight{
    float: right;
}
.floatLeft{
    float: left;
}
.floatCenter {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.floatClear{
    clear: both;
}
