body{
    background: #101010;
    /*background: #e0d4c0;*/
    color: #333333;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 16px;
    padding: 5px;
}
a{
    color: #303030;
}
.answeredBorder{
    border: 10px #3B99FC solid;
}

.floatRight{
    float: right;
}
.floatLeft{
    float: left;
}
.floatClear{
    clear: both;
}
