.navbar-brand{
    font-size: 17px;
    font-weight: bold;
}
.footer-navbar{
    height: 12%;
    background: #333333;
    /*background: #25675f;*/
}
.footer-navbar a{
    text-decoration: none;
    padding-top: 17px;
    /*font-size: 20px;*/
    color: white;
}
.footer-navbar .center{
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.navbarTop{
    background: #333333;
    /*background: #25675f;*/
    color: white;
}
.navbarTop .navbar-brand{
    color: white;
}
.navbar{
    border: 0;
}
.footer-navbar .fa{
    padding-top: 0;
    margin-top:5px;
}
