.navbar-brand{
    font-size: 14px;
}
.footer-navbar{
    height: 10%;
    background: #333333;
    /*background: #25675f;*/
}
.footer-navbar a{
    text-decoration: none;
    padding-top: 17px;
    /*font-size: 20px;*/
    color: white;
}
.footer-navbar .center{
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.navbarTop{
    background: #333333;
    /*background: #25675f;*/
    color: white;
}
.navbarTop .navbar-brand{
    color: white;
}
.navbar{
    border: 0;
}
