.postedGidoCardDiv{
    background: white;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 10px white solid;
    color: #4A4A4A;
}
.postedGidoCardDiv a{
    text-decoration: none;
}
.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{}
.pgcdHeader{
    font-size: .8em;
    padding: 0;
    padding-right: 10px;
    color: #9D9D9D;
}
.pgcdHeader .makePublic{
    padding-left: 7px;
}
.dateandtime{
    margin-top: 4px;
}
.pgcdHeader .username{
    padding-top: 3px;
    padding-left: 6px;
}
.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{}
.pgcdBody .postedPrayer{
    background: white;
    padding:5px;
    font-size: 0.9em;
}
.pgcdBody .comment{
    color: #9D9D9D;
}
.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{}
.pgcdFooter{
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}
.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{}
