.postedGidoCardDivMe{
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 10px white solid;
    color: #4A4A4A;
    float:right;
}
.postedGidoCardDivNotMe{
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 10px white solid;
    color: #4A4A4A;
    float:left;
}
